# ----------------------------------
# Python
# ----------------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------------
# Virtual Environments
# ----------------------------------

.venv/
venv/
env/
ENV/

# ----------------------------------
# IDE
# ----------------------------------

.vscode/
.idea/

# ----------------------------------
# Operating System
# ----------------------------------

.DS_Store
Thumbs.db

# ----------------------------------
# Python Cache
# ----------------------------------

.pytest_cache/
.mypy_cache/

# ----------------------------------
# Jupyter
# ----------------------------------

.ipynb_checkpoints/

# ----------------------------------
# Temporary Images
# ----------------------------------

prediction.jpg
*.tmp

# ----------------------------------
# Logs
# ----------------------------------

*.log

# ----------------------------------
# Environment Variables
# ----------------------------------

.env

# ----------------------------------
# Streamlit Cache
# ----------------------------------

.streamlit/

# ----------------------------------
# Local InsightFace Cache
# ----------------------------------

.insightface/


# ----------------------------------
# Ignore datasets

# ----------------------------------

data/raw/
data/processed/
data/preprocessed/
data/test/